<div class="section section-team text-center" id="#conseils" data-background-color="black">
    <div class="container">
        <h2 class="title">Conseils</h2>
        <p>Pour profiter pleinement de l'aventure, il est nécessaire de suivre ces petits conseils</p>        
        <div class="row">
          <div class="col-md-3">
            <i class="far fa-4x fa-hourglass"></i>
            <div class="conseils_commentaires">
              Il faudra arriver 15mn minimum avant le début du jeu
            </div> 
          </div>
          <div class="col-md-3">
            <i class="fa fa-4x  fa-thumbs-up" aria-hidden="true"></i>
            <div class="conseils_commentaires">
                Pour votre confort (pas obligatoire mais conseillé) , prévoir t-shirt, claquettes de piscine, lunettes de bain
            </div> 
          </div>
          <div class="col-md-3">
             <i class="fa fa-4x fa-times"></i>            
            <div class="conseils_commentaires">
                Les shorts sont interdits
            </div> 
          </div>
          <div class="col-md-3">  
            <span >
              <i class="fa fa-4x fa-exclamation" aria-hidden="true"></i>
            </span>            
            <div class="conseils_commentaires">
                Il faut savoir nager 25m sans interruption
            </div> 
          </div>
        </div> 
        <div>
          
          
        
        </div>        
        
    </div>
</div>  